 
<!-- Menu End -->  

  <select id="locationDropdown">
<option value="-35.616996, 174.825196">Northland</option>
<option value="-37.898917, 176.403658">Waikato/BOP</option>
<option value="-38.721386, 175.879560">Central NI</option>
<option value="-40.309694, 174.884876">Lower NI</option>
<option value="-41.994831, 172.634334">Northern SI</option>
<option value="-43.520368, 170.790740">Central SI</option>
<option value="-45.334635, 169.123237">Southern SI</option>
<option value="-43.893128, -176.520053">Chatham Is</option>
<option value="-50.752369, 166.081852">Subantarctic Is</option>
<option value="-29.524500, -177.993801">Sub tropical Is</option>  </select>

  <div id="map_canvas"></div>


  <script>
 //   let map;

    function initMap() {
      // Initialize the map with a default center
      const defaultCenter = { lat: -37.898917, lng: 176.403658 }; // Rotorua
  let cenmap = new google.maps.Map(document.getElementById("map_canvas"), {
        center: defaultCenter, mapTypeId: 'terrain', streetViewControl: false,
        zoom: 8,
      });

//var cenmap = new google.maps.Map(document.getElementById("map_canvas"), {zoom: 9, center: Nelson, mapTypeId: 'terrain', streetViewControl: false});


      // Add event listener to the dropdown menu
      const dropdown = document.getElementById("locationDropdown");
      dropdown.addEventListener("change", function () {
        const [lat, lng] = this.value.split(",").map(Number);
        const newCenter = { lat, lng};
        cenmap.setCenter(newCenter);
      });
   $.getJSON('Data/Masterls.json', function(results){

        results.forEach(function(ids) {
var infoContent = "<p><b>Name:</b> " + ids.NAME + "<br>" + "<b>Author:</b> " + ids.AUTHOR + "<br><b>Date(s):</b> " + ids.DATE + "<br><b>Source:</b> " + + ids.SOURCE + "<br><a href='Output_Records_JSON.html'" + "target = '_blank'>" + " <b> Print the list</b></a>" + "</p>"; 
 	var markers = new google.maps.Marker({position: new google.maps.LatLng(ids.LATITUDE, ids.LONGITUDE), map: cenmap, title: ids.NAME});
 	markers.info = new google.maps.InfoWindow({content: infoContent});

        markers.addListener('click', function(e, i) {
   	markers.info.open (cenmap, markers); 
 	    AId = ids.FELDS;
	    title = ids.NAME;
 	    info = "<TR><td><b>Author:</b> " + ids.AUTHOR + "</td><td><b>Date(s):</b> " + ids.DATE + "; " + ids.UPDATES +  "</td><td><b>Source:</b> " + ids.SOURCE + "</td></tr>";
            localStorage.setItem('Title', title);
            localStorage.setItem('Item', AId);
            localStorage.setItem('headr', info);

        }); 
     }); 
   });	

    }


    // Initialize the map when the page loads
//    window.onload = initMap;
  </script>
  <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgymAaPbWYJw6fBj2LVBR8zK1CZo2X12I&loading=async&callback=initMap"
    defer>
    </script>
