<div id="idInfo">
<div id="map_canvas"></div>

<script>
let myMap;
let buttonState = 'N';
let infoWindow;
let clickPoints = [], rectangle;

async function initMap() {
    // Rotorua centre
    const rotorua = { lat: -38.1368, lng: 176.2497 };

    myMap = new google.maps.Map(document.getElementById("map_canvas"), {
        center: rotorua, zoom: 9, mapTypeId: 'terrain', streetViewControl: false
    });
    infoWindow = new google.maps.InfoWindow();

// --------------------------------- map intiated ---------------------------------------------

    $.getJSON("data/Masterls.json", function(data){
        		markers = data; 

          data.forEach(item => {
              const marker = new google.maps.Marker({position: new google.maps.LatLng(parseFloat(item.LATITUDE), 	parseFloat(item.LONGITUDE)), map: myMap, title: item.NAME});
          
      const  infoContent = "<p><b>Name:</b> " + item.NAME + "<br>" + "<b>Author:</b> " + item.AUTHOR + "<br><b>Date(s):</b> " + item.DATE + ", " + item.UPDATES + "<br><b>Source:</b> " + item.SOURCE + "<br><a href='Output_Lists.html' target = '_blank'>" + " <b> Print the list</b></a><br><small>" + item.FELDS + "</small></p>";  
	
     	const infoWindow = new google.maps.InfoWindow({content: infoContent});
  	marker.addListener( 'click', function(){infoWindow.open (myMap, marker); 
               
 	const infoH = "<TR><td width = 2%></td><td width = 48%><b>Author(s):</b> " + item.AUTHOR + 
	"</td><td width 20%><b>Date(s):</b></td ><td>" + item.DATE + "; " + item.UPDATES + 
	"</td><td width = 30%><b>Source:</b> " + item.SOURCE + "</td></tr>"; 
//	    let header_t =  "Author: \t" + item.AUTHOR + "\tDate(s): " + item.DATE + "\tSource: " + item.SOURCE + "\n";
            localStorage.setItem('Title', item.NAME);
            localStorage.setItem('Item', item.FELDS);
            localStorage.setItem('headr', infoH);
//            localStorage.setItem('Header_t', header_t);

             });
         });
      })
 
//	================ data loaded============
      // Add event listener to the dropdown menu
      const dropdown = document.getElementById("locationDropdown");
      dropdown.addEventListener("change", function () {
        const [lat, lng] = this.value.split(",").map(Number);
        const newCenter = { lat, lng};
        myMap.setCenter(newCenter);
      });
//	============ rectangle selection ============ Click to define  rectangle and store  the two points

  myMap.addListener('click', (e) => { 
    if (clickPoints.length < 2) {						
         clickPoints.push(e.latLng);
    }

    if (clickPoints.length === 1) {
      if (rectangle) {rectangle.setMap(null)};					// clears last window
      infoWindow.setContent("<strong>First point set. Click second point to complete selection<strong>");
      infoWindow.setPosition(e.latLng); 				
      infoWindow.open(myMap);
    }
    if (clickPoints.length === 2) {
  
  const bounds = new google.maps.LatLngBounds();  
  bounds.extend(clickPoints[0]);
  bounds.extend(clickPoints[1]);
 buttonState ='N';

  rectangle = new google.maps.Rectangle({ bounds: bounds, strokeColor: "#FF0000", strokeOpacity: 0.8,
    strokeWeight: 2,  fillColor: "#FF0000", fillOpacity: 0.15,    map: myMap
  });
 // ------------------------Find markers inside bounds ----------------------
   const selectedMarkers = markers.filter(marker => {           		
                const mLatLng = new google.maps.LatLng(marker.LATITUDE, marker.LONGITUDE);
               return bounds.contains(mLatLng); 
 });
let contentString = `<table id="checkbox-list"><tr><th>Select a list</th></tr>`;

if (selectedMarkers.length === 0) {
  contentString += '<p>No markers found in this area.</p>';
} else {
// ----------------------------- add box contents -------------------------------------
  selectedMarkers.forEach(item => {	

 	const infoH2 = '<td><b>Author(s):</b> ' + item.AUTHOR + 
	'</td><td><b>Date(s):</b>' + item.DATE + '; ' + item.UPDATES + '</td><td><b>Source:</b> ' + item.SOURCE + '</td></tr>'; 
	const dates = item.DATE + '; ' + item.UPDATES;

contentString += `<tr><td style="padding-right: 8px;"><input type="checkbox" 
id="${item.FELDS}"  title="${item.NAME}"  value="${infoH2}" 
data-author = "${item.AUTHOR}" data-date = "${dates}" data-source = "${item.SOURCE}" 
onclick="storeValue(this, '${item.FELDS}', '${item.NAME}', '${infoH2}')"></td><td>${item.NAME} </td></tr> `;
  });
}
contentString += '</table>';

//				----------   combine action -----------------------
contentString += `<button id="save-all-btn" onclick="buttonState = 'Y'; document.getElementById('nextBit').style.display = 'block' ";  >Combine lists</button>`;
contentString += `<div id="nextBit" style="margin-top: 8px; display: none;">You may select up to 7 lists to combine.<br>`
contentString += `<button id="btn-next"  style="margin-top: 8px;" onclick = "saveAllCheckedMarkers()">Next</button>`
contentString += `<div id="mssg" style="margin-top: 8px; display: none;"></div></div>`;
infoWindow.setContent(contentString);     
infoWindow.open(myMap);
     clickPoints = [];	

 infoWindow.setContent(contentString);     
infoWindow.open(myMap);
     clickPoints = [];									        // Reset points for the next draw)
    }												// end click points if  2- below storeValue is bit  for checkboxes
 });							 // end map listener for rectangle - double
//----------------------------------------------------------- save individual ---------------------------------------
window.storeValue = function storeValue(checkbox, felds, name, infoH) {				

	if(checkbox.checked) {		
             if(buttonState== "N") {										// lets button stop
                 localStorage.setItem('Title',name);
                 localStorage.setItem('Item', felds);
                 localStorage.setItem('headr', infoH);
 		window.open('Output_Lists.html', '_blank');
		  }
		checkbox.checked = true;
		}
	else {
		checkbox.checked = false; 
	}
	}

//--------------------------   3. Batch Save all checked items from within the DOM ------------------------
window.saveAllCheckedMarkers = function() {
buttonState = 'Y';
 document.getElementById('mssg').style.display = 'block';
 const table = document.getElementById('checkbox-list');

const checkedBoxes = table.querySelectorAll('input[type="checkbox"]:checked');
    const ids = [];
    const values = [];
   let titleRow;

  checkedBoxes.forEach(checkbox => {
	titleRow= '<tr><td><b>' + checkbox.id + 
'</b></td><td><b>' + checkbox.title +
 '</b></td><td>' + checkbox.dataset.author + '</b></td><td>' + 
checkbox.dataset.date + '</td><td>' +
 checkbox.dataset.source + '</td></tr>'
;
       ids.push(checkbox.id);
	values.push(titleRow);
      });

    if (ids.length === 0) {
        alert("Please select at least one list.");
        return;
    }

     localStorage.setItem('headr', JSON.stringify(values));
     localStorage.setItem('item', ids.join(','));

     window.open('Combine_lists.html', '_blank')
    };																// end store function

};					//end initate map function
</script>
