    <h3>Nelson Start Point Demo</h3>
    <div id="map_canvas"></div>
    <div id="idInfo">
    <script>			//						from Nelson7A

  function initMap() {
	let L1 = -41.307570;
	let L2 =  173.232948;
  const Nelson = {lat: -41.307570, lng: 173.232948};				//defines map centre
  const Ashurst = {lat: -40.350597, lng: 175.691747};				//defines a point near Palmerston Nth
   const Taupo = {lat: -38.791306, lng: 175.914139};
 var clicked = false;

  var cenmap = new google.maps.Map(
      document.getElementById("map_canvas"), {zoom: 7, center: Ashurst, mapTypeId: 'terrain', streetViewControl: false});
// map intiated

//         var infowindow = new google.maps.InfoWindow();
	 var markers = new google.maps.Marker({position: Nelson, map: cenmap});	//marker prototype
//	$.getJSON('Data/Master_Test.json', function(results){
	 var markers = new google.maps.Marker({position: Taupo, map: cenmap});	

//        results.forEach(function(ids) {
//	     new google.maps.Marker({position: new google.maps.LatLng(L1, L2), map: cenmap});
//	     new google.maps.Marker({position: new google.maps.LatLng(results.lat, results.lon), map: cenmap});

//		});
//	});	// get data closed
 	 var markers = new google.maps.Marker({position: Ashurst, map: cenmap});	
  }   		// map initiate closed
	
    </script>

    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgymAaPbWYJw6fBj2LVBR8zK1CZo2X12I&callback=initMap"
    defer>
    </script>
