    <div id="map_canvas"></div>
    <div id="idInfo">
 
   <script>			//						GitHub version

  function initMap() {
  const Nelson = {lat: -41.307570, lng: 173.232948};				//defines map centre
  const Ashurst = {lat: -40.350597, lng: 175.691747};				//defines a point near Palmerston Nth
   const Taupo = {lat: -38.791306, lng: 175.914139};
 var clicked = false;

  var cenmap = new google.maps.Map(
      document.getElementById("map_canvas"), {zoom: 7, center: Ashurst, mapTypeId: 'terrain', streetViewControl: false});
// --------------------------------- map intiated ---------------------------------------------

	$.getJSON('Data/Master_Test.json', function(results){

        results.forEach(function(ids) {
	stuff = ids.NAME;		
  	var AAuthor = "All of us ";
	var Aname = "Taupo";
 	var infoContent = "<p>Name: " + Aname + "<br>" + "Author: " + AAuthor + "</p>";
var markers =   new google.maps.Marker({position: new google.maps.LatLng(Ashurst), map: cenmap, title: stuff});
  markers.info = new google.maps.InfoWindow({content: infoContent});

  google.maps.event.addListener(markers, 'click', function(){
   markers.info.open (cenmap, markers); 
             });------------------------------ infoWindow closed ----------------------
	});	// --------------------get data closed
  }   		// map initiate closed
	
    </script>

    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgymAaPbWYJw6fBj2LVBR8zK1CZo2X12I&callback=initMap"
    defer>
    </script>
