    <div id="map_canvas"></div>
    <div id="idInfo">
 
   <script>			//						GitHub version

  function initMap() {
  const Nelson = {lat: -41.307570, lng: 173.232948};				//defines map centre
  const Rotorua = {lat: -38.074216, lng: 176.268309};
 var clicked = false;

  var cenmap = new google.maps.Map(document.getElementById("map_canvas"), {zoom: 8, center: Rotorua, mapTypeId: 'terrain', streetViewControl: false});
// --------------------------------- map intiated ---------------------------------------------

	$.getJSON('Data/Master_Test.json', function(results){

        results.forEach(function(ids) {
	var infoContent = "<p><b>Name:</b> " + ids.NAME + "<br>" + "<b>Author:</b> " + ids.AUTHOR + "<br><b>Date(s):</b> " + ids.DATE + "<br><b>Source:</b> " + "<br>Id: "+ ids.FELDS  + 
//"<a href='Species_Lists_JSON.html'><b> Print the list</b></a>" + "</p>";
"<a href='Species_Lists_JSON.html' target = '_blank'>" + " <b> Print the list</b></a>" + "</p>"; 
  var markers = new google.maps.Marker({position: new google.maps.LatLng(ids.LATITUDE, ids.LONGITUDE), map: cenmap, title: ids.NAME});
 markers.info = new google.maps.InfoWindow({content: infoContent});

  google.maps.event.addListener(markers, 'click', function(){
   markers.info.open (cenmap, markers); 
 
            }); //------------------------------ infoWindow closed ----------------------
		}); //  for each closed
	});	// --------------------get data closed
  }   		// map initiate closed
	
    </script>

    <script async 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgymAaPbWYJw6fBj2LVBR8zK1CZo2X12I&loading=async&callback=initMap"
    defer>
    </script> 
