    <h3>Nelson Start Point Demo</h3>
    <div id="map_canvas"></div>
    <div id="idInfo">
    <h2>Location:</h2>

    <script>			//						from Nelson7A

  function initMap() {
  const Nelson = {lat: -41.307570, lng: 173.232948};				//defines map centre
  const Ashurst = {lat: -40.350597, lng: 175.691747};				//defines a point near Palmerston Nth
   const Taupo = {lat: -38.791306, lng: 175.914139};
 var clicked = false;

  var cenmap = new google.maps.Map(
      document.getElementById("map_canvas"), {zoom: 7, center: Ashurst, mapTypeId: 'terrain', streetViewControl: false});
// map intiated

//         var infowindow = new google.maps.InfoWindow();
	 var markers = new google.maps.Marker({position: Nelson, map: cenmap});	//marker prototype
	 var markers = new google.maps.Marker({position: Ashurst, map: cenmap});	
$.getJSON('Data/Master_Test.json', function(results){
	 var markers = new google.maps.Marker({position: Taupo, map: cenmap});	

        results.forEach(function(ids) {
	     var Lats = (ids.Cords);
	     new google.maps.Marker({position: Lats, map: cenmap});
		});
	

 //  function attachInfoWindow(markers, content) {

//  google.maps.event.addListener(markers, 'mouseover', function() {if (!clicked) {infowindow.setContent(content); //infowindow.open(map, markers);  } });

//  google.maps.event.addListener(markers, 'mouseout', function() {if (!clicked) {infowindow.close();}});

//  google.maps.event.addListener(markers, 'click', function(){
//    clicked = true;
//    var stuff = this.get('listID');
//    infowindow.setContent("You have selected : " + stuff);
//    infowindow.open(map, markers);
//    idInfo.insertAdjacentHTML('afterend', '<P>This is it:' + stuff + ' </P>')

	});	// get data closed

//  google.maps.event.addListener(infowindow,'closeclick',function() {clicked = false;  })
   }   		// map initiate closed
	
    </script>

    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgymAaPbWYJw6fBj2LVBR8zK1CZo2X12I&callback=initMap"
    defer>
    </script>
