<body>
  <div id="content">
  <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">

<div id="map_canvas"></div>
<div id="idInfo">

<script>
  var info;

  function initMap() {
  const Nelson = {lat: -41.307570, lng: 173.232948};				
  var clicked = false;

  var cenmap = new google.maps.Map(document.getElementById("map_canvas"), {zoom: 6, center: Nelson, mapTypeId: 'terrain', streetViewControl: false});
// --------------------------------- map intiated ---------------------------------------------

 item = localStorage.getItem('Code');
 
$.getJSON('Data/Lists.json', function(results){				// first data set to filter second
  records = results.filter(function(obj) {
  return obj.CODE === item;
  }); // end filter

     $.getJSON('Data/Masterls.json', function(places){		//Read JSON file - into results - second data set
        let filterIds = new Set(records.map(item => item.AREA));
         let species = places.filter(item => filterIds.has(item.FELDS));
         species.forEach(function(ids) {
var infoContent = "<p><b>Name:</b> " + ids.NAME + "<br>" + "<b>Author:</b> " + ids.AUTHOR + "<br><b>Date(s):</b> " + ids.DATE + "<br><b>Source:</b> " + ids.SOURCE + "</p>";
  	var markers = new google.maps.Marker({position: new google.maps.LatLng(ids.LATITUDE, ids.LONGITUDE), map: cenmap, title: ids.NAME});
 		markers.info = new google.maps.InfoWindow({content: infoContent});

  	google.maps.event.addListener(markers, 'click', function(){
	markers.info.open (cenmap, markers); 
 	    info = "<TR><td><b>Author:</b> " + ids.AUTHOR + "</td><td><b>Date(s):</b> " + ids.DATE + "; " + ids.UPDATES +  "</td><td><b>Source:</b> " + ids.SOURCE + "</td></tr>"; 

        }); 			// second data set
        }); 			// first data set
     }); 			// for each
   });	


  }   		
</script>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgymAaPbWYJw6fBj2LVBR8zK1CZo2X12I&loading=async&callback=initMap"
    defer>
</script> 

</body>
</html>