 <div class="navbar">
  <a href="Index.html">Home</a>

<div class="dropdown">
  <button class="dropbtn">Maps</button>
  <div class="dropdown-content">
    <a href="Nelson_Mapping.html">Nelson Map</a>
    <a href="Mapping.html">Mapping</a>
    <a href="Map_n_list.html">Map and list</a>
  </div>

</div>
<div class="dropdown">
  <button class="dropbtn">Tables</button>
  <div class="dropdown-content">
    <a href="Output_SQLite.html">SQLite</a>
    <a href="Output_SQLite_xhr.html">SQLite_xhr</a>
    <a href="Output_JSON.html">JSON</a>
    <a href="Output_Lists_JSON">Jason Lists</a>
    <a href="Output_Species places_JSON">Jason Lists</a>  </div>
</div> 
</div>
<!-- Menu End --> 