 <div class="navbar">
  <a href="index.html">Home</a>

<div class="dropdown">
  <button class="dropbtn">Change Map centre</button>
  
  <select id="locationDropdown">
    <option value="-35.616996, 174.825196">Northland</option>
    <option value="-37.898917, 176.403658">Waikato/BOP</option>
    <option value="-38.721386, 175.879560">Central NI</option>
    <option value="-40.309694, 174.884876">Lower NI</option>
    <option value="-41.994831, 172.634334">Northern SI</option>
    <option value="-43.520368, 170.790740">Central SI</option>
    <option value="-45.334635, 169.123237">Southern SI</option>
    <option value="-43.893128, -176.520053">Chatham Is</option>
    <option value="-50.752369, 166.081852">Subantarctic Is</option>
    <option value="-29.524500, -177.993801">Sub tropical Is</option>
  </select>
  
</div>

<div class="dropdown">
  <button class="dropbtn">Tables</button>
  <div class="dropdown-content">
    <a href="Species_Records.html">List of Lists/Places JSON</a>
    <a href="Output_Lists.html">List of species with header</a>
 </div>
</div>
 
<div class="dropdown">
  <button class="dropbtn">Save options</button>
  <div class="dropdown-content">
    <a href="Output_Lists_Print.html">Save to PDF</a>
    <a href="Output_Lists_TSV.html">Save to TSV</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Combine lists</button>
  <div class="dropdown-content">
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Species locations</button>
  <div class="dropdown-content">
  </div>
</div>

</div>
<!-- Menu End --> 