 <div class="navbar">
  <a href="index.html">Home</a>

<div class="dropdown">
  <button class="dropbtn">Save options</button>
  <div class="dropdown-content">
    <a target="_blank" href="Output_Lists_Print_Alpha.html">Save to PDF Alphabetic</a>
    <a target="_blank" href="Output_Lists_Print_Simple.html">Save to PDF Simple</a>
    <a target="_blank" href="Output_Lists_Print_Struct.html">Save to PDF Structural</a>
    <a target="_blank" href="Output_Lists_TSV.html">Save to TSV</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Map Species</button>
  <div class="dropdown-content">
    <a target="_blank" href="Mapping_Species.html">Map species locations</a>
    <a href="Select_Species.html">Select a species</a>

  </div>
</div>

</div>
<!-- Menu End --> 