 <div class="navbar">
  <a href="index.html">Home</a>

<div class="dropdown">
  <button class="dropbtn">Change Map centre</button>
  <div class="dropdown-content">
    <a href="Change-Centre"Shift map centre JSON</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Tables</button>
  <div class="dropdown-content">
    <a href="Output_Lists_JSON.html">List of Lists/Places JSON</a>
    <a href="Output_Records_JSON.html">List of species with header</a>
 </div>
</div>
 
<div class="dropdown">
  <button class="dropbtn">Save options</button>
  <div class="dropdown-content">
  </div>
</div>


</div>
<!-- Menu End --> 