    <h3>Nelson Start Point Demo</h3>
    <div id="map"></div>
    <div id="idInfo">
    <h2>Location:</h2>

    <script>			//						from Nelson7A

  function initMap() {
  const Nelson = {lat: -41.307570, lng: 173.232948};				//defines map centre
  var clicked = false;

  var cenmap = new google.maps.Map(
      document.getElementById('map'), {zoom: 7, center: Nelson, mapTypeId: 'terrain', streetViewControl: false});

// map intiated
         var infowindow = new google.maps.InfoWindow();
	 var markers = new google.maps.Marker({position: Nelson, map: cenmap, listID: ' ids'});	//marker prototype

   function attachInfoWindow(markers, content) {

  google.maps.event.addListener(markers, 'mouseover', function() {if (!clicked) {infowindow.setContent(content); infowindow.open(map, markers);  } });

  google.maps.event.addListener(markers, 'mouseout', function() {if (!clicked) {infowindow.close();}});

  google.maps.event.addListener(markers, 'click', function(){
    clicked = true;
    var stuff = this.get('listID');
    infowindow.setContent("You have selected : " + stuff);
    infowindow.open(map, markers);
    idInfo.insertAdjacentHTML('afterend', '<P>This is it:' + stuff + ' </P>')

});

  google.maps.event.addListener(infowindow,'closeclick',function() {clicked = false;  })
   }
	
//get data

$(document).ready(function(){
 $.getJSON('Data/Master_Test.json', function(results){

// set up markers

	var i;
	var latln;
	var html;
	const alen = results.length;

        for (i = 0; i < alen; i += 1) {

        latln  = new google.maps.LatLng(results[i].LATITUDE,results[i].LONGITUDE);
	ids    = results[i].FELDS;								//id for use later
	markers = new google.maps.Marker({position: latln, map: cenmap,listID: ids});
 	html = '<b>' + results[i].SNM + '</b><br>' + results[i].AUTHOR+ '<br>' + results[i].DATE +',' + results[i].UPDATES;
       attachInfoWindow(markers, html);
        } // end for

   }) // end of Ajax call
 }) // end of $(document).ready() function
} // map initiate closed

    </script>

    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS6Dans6luk2C4aO7Fox-UBGc0jLRZGTgcallback=initMap">
    </script>
