<script>
var item = localStorage.getItem('Item');
var title = localStorage.getItem('Title');
var Header = localStorage.getItem('headr');
$(document).ready(function(){
let species;
$.getJSON('Data/Lists.json', function(results){
  records = results.filter(function(obj) {
  return obj.AREA === item;
  }); // end filter

$.getJSON('Data/Names.json', function(names){

   let filterIds = new Set(records.map(item => item.CODE));
   species = names.filter(item => filterIds.has(item.CODE));

    var Species_List = document.getElementById("Species_List");
dummy.insertAdjacentHTML( 'beforebegin',"<h2>List of Species for <b>" + title + "</h2>");
dummy.insertAdjacentHTML( 'beforeend', Header);
	dummy.insertAdjacentHTML('beforeend', '<tr><td colspan="5">' + '<hr style="height:2px;width:100%; color:gray;background-color:gray">' + '</td></tr>');

Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD WIDTH =2%><b>Adv</b></TD><TD WIDTH =47%><b>Name</b></TD><td></td><TD><b>Common name</b></TD><TD></TD></TR>");

Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD> </TD><TD> <H4>Trees shrubs and climbers</H4>  </TD><TD>  </TD></TR>");

 var filtered_species = species.filter(item => item.REDUCED == 'R');
     filtered_species.forEach(function(ids) {

Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD>" + ids.E + "</TD><TD><i>" + ids.Name + "</i></TD><td></td><td>" + ids.C_NAME + "</TD></TR>");
      }); // end of forEach

Species_List.insertAdjacentHTML( 'beforeend',"<tr><TD> </TD></TR><TR><TD> </TD><TD> <H4>Ferns and allied plants </H4>  </TD><TD>  </TD></TR><tr></TR><tr></TR>");

 var filtered_species = species.filter(item => item.REDUCED == 'Q');
     filtered_species.forEach(function(ids) {

Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD>" + ids.E + "</TD><TD><i>" + ids.Name + "</i></TD><td></td><td>" + ids.C_NAME + "</TD></TR>");
      }); // end of forEach

Species_List.insertAdjacentHTML( 'beforeend',"<tr><TD> </TD></TR><TR><TD> </TD><TD> <H4>Herbs</H4>  </TD><TD>  </TD></TR><tr></TR><tr></TR>");

 var filtered_species = species.filter(item => item.REDUCED == 'S');
     filtered_species.forEach(function(ids) {

Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD>" + ids.E + "</TD><TD><i>" + ids.Name + "</i></TD><td></td><td>" + ids.C_NAME + "</TD></TR>");
      }); // end of forEach

Species_List.insertAdjacentHTML( 'beforeend',"<tr><TD> </TD></TR><TR><TD> </TD><TD> <H4>Rushes, Sedges & Grasses</H4>  </TD><TD>  </TD></TR><tr></TR><tr></TR>");

 var filtered_species = species.filter(item => item.REDUCED == 'T');
     filtered_species.forEach(function(ids) {

Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD>" + ids.E + "</TD><TD><i>" + ids.Name + "</i></TD><td></td><td>" + ids.C_NAME + "</TD></TR>");

      }); // end of forEach
    }) // end of second Ajax call
  }) // end of which?? Ajax call
 }) // end of $(document).ready() function

</script>