
<script>

// source is https://github.com/sql-js/sql.js - HTML demo for databse version

//intiate document
	$(document).ready(function(){

//Read JSON file - into results
	 $.getJSON('Data/Hauraki_Test.json', function(results){

//create document 

      	var Sites_List = document.getElementById("Sites_List");

//put array into document (ids not intitated?)

	    results.forEach(function(ids) {
	      Sites_List.insertAdjacentHTML( 'beforeend',"<TR><TD>" + ids.FELDS  + "</TD><TD> " + ids.NAME + "</TD><TD> " + ids.Cords + "</TD></TR>");
	      }); // end of forEach

   }) // end of Ajax call
 }) // end of $(document).ready() function

</script>
 

