<script>

   var item = localStorage.getItem('Item');
   var title = localStorage.getItem('Title');
   var author = localStorage.getItem('Author');
   var dates = localStorage.getItem('Dates');
   var source = localStorage.getItem('Source');

                                                              // blob bit
   let string1 = "\tList of Species for: " + title + "\n";
   let string2 = "Author: " + author + "\tDates: " + dates + "\tSource: " + source + "\n";
                                                             // end blob bit

  $(document).ready(function(){

    $.getJSON('Data/Lists.json', function(results){
       records = results.filter(function(obj) {
       return obj.AREA === item;
         }); // end filter

         $.getJSON('Data/Names.json', function(names){

         let filterIds = new Set(records.map(item => item.CODE));
         let species = names.filter(item => filterIds.has(item.CODE));

          var Species_List = document.getElementById("Species_List");
            Species_List.insertAdjacentHTML('beforeend',"Adv" + "\tNAME" + "\tNOTES" + "\tC_NAME" + "\tFAMILY" + "\tPHYS" + "\tREDUCED" + "\n"); // headings

          species.forEach(function(ids) {
             Species_List.insertAdjacentHTML('beforeend', ids.E + "\t" + ids.NAME + "\t" + ids.NOTES + "\t" + ids.C_NAME + "\t" +  ids.FAMILY + "\t" + ids.PHYS + "\t" + ids.REDUCED + "\n");
            }); // end of forEach - writing of the list      }); // end of forEach - writing of the list
			let string3 = Species_List.outerHTML; 


// ----------------------------------------------- Blob bit ----------------------------
     									// assemble final string
    			const finalText = string1 + "\t" + string2 + "\t\n" + string3;
    
    									// convert to blob
    			const data = new Blob([finalText], {type: 'text/plain'});
     			//const data = new Blob([string3], {type: 'text/plain'});
   									// create file link
    			const link = document.createElement('a');
    			link.innerHTML = 'download';
    			link.setAttribute('download', title);
    			link.href = window.URL.createObjectURL(data);
     			document.body.appendChild(link);
    
    									// preview the output in a paragraph
         }) // end of compiling list of names etc (save at this point)
      		}) // end of results- retrieval of selected list 
  	      })                                           // end of $(document).ready() function end data calls
</script>


<!Show document>

    <Table id="Species_List">
	<div id= "dummy"></div>
 
 