
<script>

// source is https://github.com/sql-js/sql.js - HTML demo for databse version

//intiate document
	$(document).ready(function(){

//Read JSON file - into results
	 $.getJSON('Data/Master_Test.json', function(results){

//create document 

      	var Sites_List = document.getElementById("Sites_List");

//put array into document (ids not intitated?)

	    results.forEach(function(ids) {
	      Sites_List.insertAdjacentHTML( 'beforeend',"<TR><TD>" + ids.FELDS  + "</TD><TD>" + ids.NAME  + "</TD><TD> " + ids.LATITUDE + "</TD><TD>" + ids.LONGITUDE +  " </TD><TD>" + ids.AUTHOR  + "</TD></TR>");
	      }); // end of forEach

   }) // end of Ajax call
 }) // end of $(document).ready() function

</script>
 
<div id="dummy">
    <h2>List of Locations</h2>
    <Table id="Sites_List">
<TR><TD> Id Code </TD><TD> Name </TD><TD> Latitude </TD><TD> Longitude</TD><TD> Author </TD></TR>

