<script>

// source is https://github.com/sql-js/sql.js - HTML demo for databse version

var item = localStorage.getItem('Item');
var title = localStorage.getItem('Title');
var Header = localStorage.getItem('headr');

$(document).ready(function(){
dummy.insertAdjacentHTML( 'beforeend',"<h2>List of Species for <b>" + title + "</h2>");
dummy.insertAdjacentHTML( 'beforeend', + Header);
$.getJSON('Data/Lists.json', function(results){
  records = results.filter(function(obj) {
  return obj.AREA === item;
  }); // end filter

$.getJSON('Data/Names.json', function(names){

   let filterIds = new Set(records.map(item => item.CODE));
   let species = names.filter(item => filterIds.has(item.CODE));

    var Species_List = document.getElementById("Species_List");
     species.forEach(function(ids) {Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD>" + ids.E + "</TD><TD>" + ids.Name + "</TD><TD>" + ids.C_Name + "</TD><TD>" + ids.Phys +  " </TD></TR>");

      }); // end of forEach
    }) // end of second Ajax call
  }) // end of which?? Ajax call
 }) // end of $(document).ready() function
</script>

<div id="dummy1"><div>
<Table id="dummy">
<tr VALIGN="TOP"><TD WIDTH=40%></TD><TD WIDTH=30%></TD><TD WIDTH=40%></TD><TD WIDTH=40%></TD></tr>
</Table>
 
    <Table id="Species_List">
<tr VALIGN="TOP"><TD WIDTH=5%></TD><TD WIDTH=45%></TD><TD WIDTH=45%></TD><TD WIDTH=5%></TD></tr>
<TR><TD> Adv  </TD><TD> <b>Name</b> </TD><TD> <b>Common name</b> </TD><TD> <b>Druce</b> </TD></TR>



