<script>

    var item = localStorage.getItem('Code');
   var title = localStorage.getItem('Name');

   $(document).ready(function(){

    $.getJSON('Data/Lists.json', function(results){  
       records = results.filter(function(obj) {
       return obj.CODE === item;
         }); // end filter

          $.getJSON('Data/Masterls.json', function(places){

         let filterIds = new Set(records.map(item => item.AREA));
         let A_site = places.filter(item => filterIds.has(item.FELDS));

         var Sites_List = document.getElementById("Sites_List");

          A_site.forEach(function(ids) {
             Sites_List.insertAdjacentHTML('beforeend', "<tr><td>" + ids.NAME + "</td><td>" + ids.AUTHOR + "</td><td>" + ids.DATE + ": " + ids.UPDATES + "</td><td>" + ids.SOURCE + "</td><td>" +  ids.LATITUDE + "</td><td>" + ids.LONGITUDE + "\n");
 

	  }); 								// end of forEach DATA retrieved
     }) 								// end of data call
     }) 								// end of data call 1
 }) 									// end of $(document).ready() function

</script>

<!Show document>


    <Table id="Sites_List">
<TR><TD  WIDTH=30%> <b>Name</b> </TD><TD WIDTH=10%> <b>Author</b> </TD><TD WIDTH=10%> <b>Date</b> </TD><TD WIDTH=30%> <b>Source</b> </TD><TD WIDTH=10%> <b>Latitude</b> </TD><TD WIDTH=10%> <b>Longitude</b></TD></TR>
    </Table>



