<script>
   var item = localStorage.getItem('Code');
   var title = localStorage.getItem('Name');
  $(document).ready(function(){

    $.getJSON('Data/Lists.json', function(results){ 
       records = results.filter(function(obj) {
       return obj.CODE === item;
         }); // end filter

          $.getJSON('Data/Masterls.json', function(places){

         let filterIds = new Set(records.map(item => item.AREA));
         let A_site = places.filter(item => filterIds.has(item.FELDS));

         var Species_List = document.getElementById("Species_List");
   Species_List.insertAdjacentHTML('beforeend', "NAME" + "</t>AUTHOR" + "</t>DATE(S)" + "</t>SOURCE" + "</t>LATITUDE" + "</t>LONGITUDE" + "\n");
          A_site.forEach(function(ids) {
          Species_List.insertAdjacentHTML('beforeend', ids.NAME + "\t" + ids.AUTHOR + "\t" + ids.DATE + ": " + ids.UPDATES + "\t" + ids.SOURCE + "\t" +  ids.LATITUDE + "\t" + ids.LONGITUDE + "\n");

           }); // end of forEach - writing of the list

 // ----------------------------------------------- Blob bit ----------------------------
    	let string1 = "\tList of Sites for: " + title + "\n";
	let string3 = Species_List.outerHTML; 
 	const finalText = string1 + "\t\n" + string3;			// assemble final string
	const data = new Blob([finalText], {type: 'text/plain'}); 	// convert to blob
//const data = new Blob([string3], {type: 'text/plain'});
								
	const link = document.createElement('a'); // create file link
	link.innerHTML = 'download';
	link.setAttribute('download', title);
 	link.href = window.URL.createObjectURL(data);
 	document.body.appendChild(link);
    }) 								// end of data call
   }) 								// end of data call 1
 }) 								// end of $(document).ready() function
</script>