
<! 		==========================  HTML ====================================  >
<!-- Menu End -->  

<!				----------- Genus bit  --------------------------- >

<div>
<p style = "text-align:center;"> Species Selection</p>
</div>

<div> 							 		<! to merge blocks!>
  <div class = "sidebar">					<! Sidebar - Genera!>
   <p>click on a genus</p>
  <!-- Search Input -->
  <input type="text" id="searchBar" onkeyup="searchTable()" placeholder="Search Genera..">


    <Table id="Genus_List">
<colgroup>
    <col> 
    <col style="visibility: collapse;"> 
  </colgroup>
	<tr VALIGN="TOP"><TD WIDTH=70%></TD><TD WIDTH=30%></TD</tr>
     </table>
  </div>	

<! 			--------------------  Species bit   --------------------------->

<div id="dummy" class="content" style="background-color:beige"> 	<! main content - names !>

 <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <Table id="Species_List">
<colgroup>
    <col> 
    <col style="visibility: collapse;"> 
    <col style="visibility: collapse;"> 
    <col style="visibility: collapse;"> 
  </colgroup>
	<tr VALIGN="TOP"><TD WIDTH=70%></TD><TD WIDTH=15%></TD><TD WIDTH= 15%></TD></tr>
     </table>
</div>    	
</div> <! div content>

<! -------------------------------------------------- SCRIPTS --------------------------- !>

<script>
function searchTable() {
  let input = document.getElementById("searchBar");
  let filter = input.value.toLowerCase(); // Progressive searching (lowercase)
  let table = document.getElementById("Genus_List");
  let tr = table.getElementsByTagName("tr");

  // Loop through all table rows (skipping header)
  for (let i = 1; i < tr.length; i++) {
    let td = tr[i].getElementsByTagName("td")[0];		// first colum
    if (td) {
      let txtValue = td.textContent || td.innerText;
      // IndexOf 0 ensures it matches from the start (left)
      if (txtValue.toLowerCase().indexOf(filter) === 0) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<!-----------------------------------------------------Genus bit --------------------------!>
<script>
var MCODEG = localStorage.getItem('MCodeG');

$(document).ready(function(){

    var Genus_List = document.getElementById("Genus_List");
    Genus_List.insertAdjacentHTML( 'beforeend',"<TR><TD> <b>Genera</b> </TD><TD>MCODE  </TD></TR>");
$.getJSON('Data/Genus.json', function(genera){

     genera.forEach(function(ids) {
	Genus_List.insertAdjacentHTML( 'beforeend',"<TR><TD><i>" + ids.Genus + "</i></TD><TD>" +  ids.CODE + "</TD></TR>");
      Genus_List.addEventListener('click', Genusclick);
      }); // end of forEach
    }) // end of  Ajax call

 }) // end of $(document).ready() function
</script>

<script>
function Genusclick(event) {			/* click function for row click*/

 const clickedRow = event.target.closest('tr');		
 event.stopPropagation();
       if (clickedRow) {
        const tdValue = clickedRow.querySelector('td:first-child').textContent.trim();       
         const tdValue2 = clickedRow.querySelector('td:nth-child(2)').textContent.trim();       
       localStorage.setItem('genus', tdValue);
	localStorage.setItem('MCodeG', tdValue2);
	};

  $(document).ready(function(){
    var Genus = localStorage.getItem('genus');
    var Species_List = document.getElementById("Species_List");
	dummy.insertAdjacentHTML( 'afterbegin', "<p>List of Species for  "+ Genus + "</p>");
specieslist();
   });
};				/* end click function*/
</script>

<!----------------------------------------- SPECIES BIT ----------------------!>
<script>		
function specieslist(){

  var code = localStorage.getItem('MCodeG');

$.getJSON('Data/Names.json', function(names){
  species = names.filter(function(obj) {
  return obj.MCODEG === code;
  }); 								// end filter

    var Species_List = document.getElementById("Species_List");

     species.forEach(function(ids) {
      Species_List.addEventListener('click', Speciesclick);

Species_List.insertAdjacentHTML( 'beforeend',"<TR><TD><i>" + ids.NAME + "</i></TD><TD>" +  ids.RCODE + "</TD><TD>" + ids.MCODEG + "</TD><TD>" +  ids.ED + "</TD></TR>");

      });							 // end of forEach

 function Speciesclick(event2) {
  	let AName = "";
	let Name2 = "";
        const clickedRow = event2.target.closest('tr');		
        if (clickedRow) {
         let Name  = clickedRow.querySelector('td:first-child').textContent.trim();       
         const RCode = clickedRow.querySelector('td:nth-child(2)').textContent.trim();       
         let ED    = clickedRow.querySelector('td:nth-child(4)').textContent.trim();    
	
	AName = Name;
	Name = "<b><big>  " + Name  + " </big></b>";						// Correct name OK
	if(ED=='p') {									// get the corect name by filter
//		-----------------------------new bit ---------------------------------------------------------------

 $(document).ready(function () {
    $.getJSON("Data/Full_Names.json")
        .done(function (data) {
            const row = data.find(item => item && item.CODE === RCode);
                Name2 = row.Name;
  	   Name =  "<b><big>" + Name2 + "</b></big>   Alternate name <b><i>"  + AName + "</i></b>  selected";
	localStorage.setItem('Name', Name);
      })				// end done
});							//document ready
// 			-------------------------------------------------------------
	   Name =  "<b><big>" + Name2 + "</b></big>   Alternate name <b><i>"  + AName + "</i></b>  selected";
	}								// end if ED
	localStorage.setItem('Name', Name);
       	localStorage.setItem('Code', RCode);
 	window.open("Mapping_Species.html", "_blank");
   }					// end clicked row
	}				// end click event
												// version 10 then 8.1 derived from 3.62
   }) 					// end of  Ajax call
}; 					// end function species list
</script>