{% include head.html %} 
    <style>
      #map_canvas {
        height: 800px; 
        width: 100%;  
       }
    </style>
{% include Main_Scripts.html %} 
    <!script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="scripts/navbar_ww3.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <center><b>Plant lists Start Point</b><center>
{% include New-nav-menu.html %} 
{% include Page_setup.html %}
{% include {{ page.outp }} %} 
{% include footer.html %} 
